.h-hero-posts__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .h-hero-posts__grid {
    grid-template-columns: 1fr !important;
  }

  .h-top-posts__first {
    grid-column: auto !important;
    padding-right: 0;
    padding-bottom: 24px;
  }
  .h-top-posts__others {
    border-left: unset !important;
    padding-inline: 0;
    border-top: 1px solid var(--ink-50);
    padding-block: 24px;
  }
  .h-popular-posts {
  padding-left: 0;
  padding-top: 24px;
  border-left: unset !important;
  border-top: 1px solid var(--ink-50);
}
}
